@model EMSENTITIES.Registration

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditRegistration</title>

    <style>
        h4 {
            text-align: center;
            font-size: 30px;
            margin: 30px 0px;
        }

        .form-horizontal {
            text-align: center;
        }

        .form-group + .form-group {
            margin-top: 10px;
        }

        .col-md-2 {
            font-size: 20px;
            text-align: left;
        }

        .form-control {
            padding: 6px 10px;
            font-size: 16px;
        }

        .btn-default {
            cursor: pointer;
            background-color: #0085e6;
            padding: 10px 24px;
            font-size: 18px;
            color: #fff;
            border-radius: 6px;
            border-style: none;
            box-sizing: border-box;
            margin-top: 10px;
        }

        .link {
            text-align: center;
            margin-top: 20px;
        }

        .text-danger {
            display: block;
            color: #f00;
            height: 10px;
            font-size: 14px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("EditRegistration", "Registration"))
    {
        @Html.AntiForgeryToken()
        
    <div class="form-horizontal">
        <h4>Registration</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.EventId)
        @Html.HiddenFor(model => model.RegistrationId)

        <div class="form-group">
            @Html.LabelFor(model => model.ParticipantName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ParticipantName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ParticipantName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumberOfTickets, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumberOfTickets, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumberOfTickets, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RegistrationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RegistrationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RegistrationDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <p style="color: darkblue">@ViewBag.Message</p>
            </div>
        </div>
        <center style="margin-top: 20px">
            <div>
                @Html.ActionLink("Back to Events", "Index", "Event")
            </div>
        </center>
    </div>
    }
</body>
</html>
